#project {
  height: 100%;
  /* width: 100vw; */
  background: #070f2b;
  /* margin: 0 auto; */
}
.project_container {
  max-width: 80vw;
  margin: 0 auto;
  padding: 2rem;
}
.projects {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  gap: 3rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}
.exp-title {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: start;
  background: -webkit-linear-gradient(#58ffb4, #289061);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-size: 3.75rem;
  font-weight: 700;
  line-height: 1;
  padding-bottom: 1.25rem;
}
.project {
  /* display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center; */
  display: flex;
  flex-direction: row;
  text-align: left;
  background: #2a2a32;
  border-radius: 0.875rem;
  padding: 3rem 1rem;
}
.project-content {
  max-width: 60%;
  display: flex;
  flex-direction: column;
}
.project-img {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.project-img img {
  object-fit: cover;
  height: 22rem;
  width: 29rem;
  border-radius: 30px;
}
.project-content p {
  max-width: 85%;
}
.project-content h3 {
  font-weight: bold;
  font-size: 2em;
  margin-bottom: 1rem;
}
.project-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.project-desc {
  margin-bottom: 2rem;
}
.workd-button {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  color: white;
  gap: 10px;
  margin-bottom: 3rem;
}
.workd-button button {
  padding: 0.56rem 1rem;
  border-radius: 0.5rem;
  background-color: #373748;
  border: none;
}
.workd-button button a span {
  color: #c2c2c2;
  text-transform: capitalize;
  font-size: 1rem;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .projects {
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .project {
    flex-direction: column;
    padding: 5px;
  }
  .project-content {
    margin: 0 auto;
    /* background: red; */
    display: flex;
    justify-content: center;
  }

  .workd-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .workd-button button {
    margin: 0 10px;
  }
}

@media screen and (max-width: 768px) {
  .project {
    flex-direction: column;
    padding: 5px;
  }
  .project-content {
    margin: 0 auto;
    /* background: red; */
    display: flex;
    justify-content: center;
  }

  .workd-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .workd-button button {
    margin: 0 10px;
  }
}
