.contactPage {
  /* min-width: calc(100vh - 4rem); */
  width: 100vw;
  max-width: 85vw;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.contactPageTitle {
  font-size: 3rem;
  margin-bottom: 1rem;
}
.clients {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 85%;
  margin: 0 auto;
}
/* .clientDesc {
  font-weight: 300;
  font-size: 1rem;
}
.clientimgs {
  margin: 1rem 0;
  display: flex;
  flex-wrap: wrap;
}
.clientimg {
  object-fit: cover;
  width: 23%;
  min-width: 9rem;
  margin: auto;
  padding: 0.5rem;
} */
#contact {
  padding: 2rem;
}

.contactdesc {
  padding: 1rem;
  font-size: medium;
  font-weight: 300;
}

.contactForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 1rem;
  width: 90vw;
  max-width: 60rem;
}
.name,
.email,
.message {
  font-size: medium;
  width: 100%;
  max-width: 40rem;
  margin: 0.5rem;
  padding: 0.5rem 1rem;
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  background: rgb(40, 40, 40);
}
.submit {
  background: #fff;
  border: none;
  padding: 0.75rem 3.5rem;
  border-radius: 0.75rem;
  padding: 0.75rem 3.5rem;
  margin: 2rem;
  cursor: pointer;
}
.links {
  display: flex;
  flex-wrap: wrap;
}
.link {
  object-fit: cover;
  height: 3rem;
  width: 3rem;
  margin: 0 0.75rem;
}
