.navbar {
  height: 10px;
  width: fit-content;
  margin: 2rem auto 2rem;
  padding: 1rem 2rem;
  /* max-width: 75rem; */
  max-width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  position: sticky;
  top: 0;
  z-index: 3;
  background: transparent;
  border-radius: 30px;
  border: 1px solid transparent;
  font-size: 1rem;
}

.navbar.scrolled {
  top: 30px;
  background: rgba(44, 29, 55, 0.5);
  transition: 1s;
}
@media screen and (max-width: 840px) {
  .navbar {
    background: red;
  }
}
.desktopMenuItem {
  margin: 1rem;
  padding: 18px 30px;
  cursor: pointer;
}
.desktopMenuItem:hover {
  color: #e1fbd6;
  background: #21212f;
  border-radius: 30px;
}

.desktopMenuimg {
  object-fit: cover;
  height: 1rem;
  width: 1rem;
  margin: 1rem;
}
